In [8]:
tupla1 = ("Maria", "Joao", "Pedro")

In [16]:
tupla1

('Maria', 'Joao', 'Pedro')

In [3]:
type(tupla1)

tuple

In [10]:
tupla1.index("Pedro")

2

In [13]:
tupla1[0]

'Maria'

In [14]:
len(tupla1)

3

In [17]:
tupla1[::-1]

('Pedro', 'Joao', 'Maria')

In [18]:
tupla1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [35]:
t2 = ('A', 'B', 'C')

In [39]:
t2

('A', 'B', 'C', 'D')

In [29]:
t2 += ('D',)

In [37]:
lista_t2 = list(t2)
lista_t2

['A', 'B', 'C']

In [38]:
lista_t2.append('D')
t2 = tuple(lista_t2)

In [56]:
t3 = ([], 2, 3)

In [57]:
t3

([], 2, 3)

In [50]:
t3[0].append(52)

In [54]:
del t3

In [74]:
estudantes = {"Pedro": 25, "Maria":32 , "Joao": 45}

In [59]:
type(estudantes)

dict

In [62]:
estudantes["Joao"]

45

In [64]:
list(estudantes.keys())

['Pedro', 'Maria', 'Joao']

In [66]:
list(estudantes.values())

[25, 32, 45]

In [67]:
sum(list(estudantes.values()))

102

In [80]:
len(estudantes)

5

In [79]:
estudantes

{'Pedro': 25, 'Maria': 32, 'Joao': 45, 'Joaquina': 12, 'José': 25}

In [76]:
estudantes2 = {"Joaquina":12,"José":25}

In [78]:
estudantes.update(estudantes2)